# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.egg
.venv/
venv/
ENV/

# Backend
backend/weights/
backend/logs/
predictions.db

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
